<!--FORMULARIO DE NOVO PRODUTO-->
<div *ngIf="productAcition?.event?.action === addProductAction ">
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProdut()">
        <!--Nome do Produto-->
        <div class="card flex flex-column md:flex-column gap-3"></div>
        <input pInputText placeholder="Nome" formControlName="name">
        <!--Categoria do Produto-->
        <p-dropdown
        styleClass="w-full"
        [options]="categoriesDatas"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione uma categoria"
        formControlName="category_id"
        >
        </p-dropdown>
        <!--Preço do produto-->
        <input pInputText placeholder="Preco" formControlName="price">
          <!--Descrição do produto-->
         <input pInputText placeholder="Descrição" formControlName="descripition">
          <!--Quantidade do produto-->
          <input pInputText placeholder="Quantidade" formControlName="amount">
          <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
              <p-button
              [disabled]="!addProductForm.valid"
              type="submit"
              label="Concluir"
              ></p-button>
          </div>
  </form>
</div>

<!--FORMULARIO DE EDITAR PRODUTO-->

<div *ngIf="productAcition?.event?.action === editProductAction " >
  <form [formGroup]="editProductForm" (ngSubmit)="handleSubmitEditProdut()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Nome" formControlName="name">
      <input pInputText placeholder="Preço" formControlName="price">
      <input pInputText placeholder="Descrição" formControlName="descripition">
      <input pInputText type="number" placeholder="Quantidade" formControlName="amount">

      <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
        <p-button
              type="submit"
              label="Concluir"
              ></p-button>
      </div>
    </div>
  </form>
</div>


<div *ngIf="productAcition?.event?.action === saleProductAction " >
  <form [formGroup]="saleProductForm" (ngSubmit)="handleSubmitSaleProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <p-dropdown
        [options]="productDatas"
        [(ngModel)]="saleProductSelected"
        styleClass="w-full"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione um produto"
        formControlName="product_id"
      ></p-dropdown>

      <input
        type="number"
        pInputText
        placeholder="Quantidade"
        formControlName="amount"
      />

      <div
        class="flex flex-row justify-content-center align-content-center align-items-center"
      >
        <p-button
          [disabled]="!saleProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>
